{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/pico/pico.min.css" %}">
  <script type="text/javascript" src="{% static 'functions.js' %}"></script>
  <title>RFPDonkey</title>
  {% block header %}
  {% endblock %}
</head>
<body>
  <table width="50%">
    <tr >
      <td width="1%"><img src="{% static "donkey_1.jpeg" %}" alt="RFPDonkey" width="90px" height="90px"></td>
      <td width="20%"><div style="font-size:40px">RFPDonkey</div>
      <small>RFP Q/A Database</small></td>
    </tr>
  </table>

<main class="container">
  {% block container %}
  {% endblock %}
</main>
</body>
</html>