{% extends "base.html" %}
{% load static %}

{% block title %}
  RFP Knowledge Base Questions and Answers
{% endblock %}
{% block container %}


<form name = "frm" action=""> 
  {% csrf_token %} 

  
  <!-- TOP MENU-->

  <div role="menubar">  
    <table >
      <tr>
        <td role="menuitem"><a href="javascript:MainSearch()" >Search</a></td>
        <td role="menuitem"><a href="javascript:MainNew()">New</a></td>
        <td role ="menuitem"><a href="javascript:MainUpdate()">Update</a></td>
        <td role="menuitem"><a href="javascript:MainDelete()">Delete</a></td>
        <td role="menuitem"><a href="javascript:MainReset()">Clear</a></td>
        <td role="menuitem"><a href="javascript:Test()">TEST</a></td>
      </tr>
    </table>
  </div>

    <!-- END TOP MENU -->
   

<small>

    <input type="hidden" name="id" value="{{ id }}" >
    <table> <!-- details-->
          <tr>
            <td ><small>RFP Name:</small></td>
            <td>
              <input type = "text" name ="txtRfp" value="{{ rfp_name}}" { font-size: 10px; }><br>
            </td>
          </tr>
          <tr>
            <td>Question</td>
            <td>
              <textarea name="txtQuestion" rows="5" cols="60">{{ question }}</textarea>
            </td>
            <td>
              Answer
            </td>
            <td>
              <textarea name ="txtAnswer" rows="5" cols="60">{{ answer }}</textarea>
            </td>
          </tr>
          <tr>
            
          </tr>
          <tr>
            <td> Product</td>
            <td>
              <!--input type="text" name="txtProduct" id="txtProduct" value="{{ product }}"-->
              <select name=" txtProduct">
                {% for p in  products%}
                <option value="{{p.id}}">{{ p.product_name}}</option>
                {% endfor %}
              </select>
            </td>
            <td> Product Variant</td>
            <td><input type="text" name="txtProductVariant" id="txtProductVariant" value="{{ product_variant}}"></td>
          </tr>
        
          <tr>
            <td> Win/Loss</td>
            <td> 
              {% if  winLoss %}
              <input type="checkbox" name="cbWinLoss" checked>
              {% else %}
              <input type="checkbox" name="cbWinLoss" >
              {% endif %}
          </td>
          <td> Comply</td>
            
          <td> 
            {% if comply %}
            <input type="checkbox" name="cbComply" checked>
            {% else %}
            <input type="checkbox" name="cbComply" >
            {% endif %}
          </td>
          </tr>
            <tr>
              <td><a href="javascript:MainAdd()"> Add </a></td>
            </tr>
  </table>
</small>
</form>
{% endblock %}