{% extends "master.html" %}

{% block title %}
  RFP Knowledge Base Questions and Answers
{% endblock %}
{% block content %}


<form name = "frm" action=""> 
  {% csrf_token %} 

  
  <!-- TOP MENU-->

  <div class = "my_nav_bar">  
    <table  width="90">
      <tr>
        <td class="my_nav_button" ><a href="javascript:MainSearch()" >Search</a></td>
        <td class="my_nav_button"><a href="javascript:MainAdd()">Add</a></td>
        <td class="my_nav_button"><a href="javascript:MainUpdate()">Update</a></td>
        <td class="my_nav_button"><a href="javascript:MainDelete()">Delete</a></td>
        <td class="my_nav_button"><a href="javascript:MainReset()">Clear</a></td>
        <td class="my_nav_button"><a href="javascript:Test()">TEST</a></td>
      </tr>
    </table>
  </div>

    <input type="hidden" name="id" value="{{ id }}">
    <table> <!-- details-->
          <tr>
            <td>RFP Name:</td>
            <td>
              <input type = "text" name ="txtRfp" value="{{ rfp_name}}"><br>
            </td>
          </tr>
          <tr>
            <td>Question</td>
            <td>
              <textarea name="txtQuestion" rows="5" cols="60">{{ question }}</textarea>
            </td>
          </tr>
          <tr>
            <td>
              Answer
            </td>
            <td>
              <textarea name ="txtAnswer" rows="5" cols="60">{{ answer }}</textarea>
            </td>
          </tr>
          <tr>
            <td> Product</td>
            <td><input type="text" name="txtProduct" id="txtProduct" value="{{ product }}"></td>
          </tr>
          <tr>
            <td> Product Variant</td>
            <td><input type="text" name="txtProductVariant" id="txtProductVariant" value="{{ product_variant}}"></td>
          </tr>
          <tr>
            <td> Win/Loss</td>
            <td> 
              {% if  winLoss %}
              <input type="checkbox" name="cbWinLoss" checked>
              {% else %}
              <input type="checkbox" name="cbWinLoss" >
              {% endif %}
          </td>
          </tr>
          <tr>
            <td> Comply</td>
            
            <td> 
              {% if comply %}
              <input type="checkbox" name="cbComply" checked>
              {% else %}
              <input type="checkbox" name="cbComply" >
              {% endif %}
            </td>
          </tr>
  </table>
</form>
{% endblock %}