{% extends "base.html" %}
{% load static %}


{% block title %}
  RFP Q&A List
{% endblock %}

{% block container %}

<!-- TOP MENU-->
<small>
  <div role="menubar">  
    <table  role="grid">
      <tr>
        <td role="menuitem" >Search</td>
        <td role="menuitem"><a href="javascript:MainNew()">New</a></td>
        <td role="menuitem">Update</td>
        <td role="menuitem">Delete</td>
        <td role="menuitem">Clear</td>
        <!--td class="my_nav_button"><a href="javascript:Test()">TEST</a></td-->
        <td><a href="www.google.com">TEST-2</a></td>
      </tr>
    </table>
  </div>

    <!-- END TOP MENU -->
      
<form name = "frm" action="">{% csrf_token %}  </form>
<table   role="grid">
  
  <tr>
    <th>Id</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Delete</th>
  </tr>

{% for x in elems%}
  <tr>
    <td><a href="/rfp_kb/{{ x.id }}">{{ x.id }}</a></td>
    <td> {{ x.question }}</td>
    <td> {{ x.answer }} </td>
    <td> <input type="checkbox" id="d_{{x.id}}"> </td>
    
  </tr>
{% endfor %}
  </table>
{% endblock %}
</small>